
legend {
margin-bottom: 20px;
}
* html .Content {
height: 500px;
}
* html .PrimaryFeatureList li {
height: 65px;
}
* html .FeatureList li {
height: 12em;
}
* html .FeatureList li.Short {
height: 8em;
}
* html .Content .ProductItem {
height: 140px;
}
* html .TestimonialList li {
height: 70px;
}
* html .Testimonial {
width: 98%;
}
* html .panel .Testimonial {
width: 96%;
margin: 0;
}
* html #Menu li a { /* List item link */
float: left;
padding-bottom: 6px;
}
* html #Menu li.HasSubMenu a { /* List item link with sub nav */
float: left;
padding-bottom: 6px;
}
* html #Menu li.HasSubMenu ul li a { /* Sub list item link - Same width as li ul */
padding-bottom: 0;
}
* html .panel.gradient {
/*height: 500px;*/
}
